<h2>Consultar Multa</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="placa">Placa</label>
        <input type="text" formControlName="placa" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.placa.errors }" />
        <div *ngIf="submitted && f.placa.errors" class="invalid-feedback">
            <div *ngIf="f.placa.errors.required">Campo Placa é obrigatório</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <p *ngIf="loadedInfracao.length < 1">Nenhum resultado encontrado</p>
            <ul class="list-group" *ngIf="loadedInfracao.length >= 1">
                <li class="list-group-item" *ngFor ="let item of loadedInfracao">
                    <P>Id: {{ item.id}}</P>
                    <p>Placa: {{item.placa}}</p>
                    <P>Valor: {{ item.valor}}</P>
                    <p>Observação: {{item.observacoes}}</p>
                    <P>Local: {{ item.local}}</P>
                    <p>Veículo: {{item.veiculo}}</p>
                    <p>Data: {{item.data}}</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Consultar
        </button>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary btn-md" (click)="navigateToLogin()">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Voltar
        </button>
    </div>
</form>